#InfoTarjeta input{
	width: 32.3%;
	display: inline;
}

form {
	margin-left: 5px; 
}

#InfoTarjeta div input{
	width: 20%;
	margin-left: 70px;

}

#InfoTarjeta{
	border:  1px solid #F2F2F2;
}

#CW{
	margin-right: 33px;
}

.modal-body button{
	margin-left: 7px;
}
